button img{
    width: 20vw;
}

.StatIncrease button{
    background-color: rgb(104, 216, 0);
    color: white;
    margin: 1rem;
}
.StatDecrease button{
    background-color: rgb(255, 0, 106);
    color: white;
    margin: 1rem;
}
.StatDecrease button:hover{
    background-color: rgb(136, 0, 57);
}

.StatIncrease button:hover{
    background-color: rgb(0, 150, 0);
}
h2{
    color: whitesmoke;
}

.ClassChoice button{
    background: none;
}

.ClassChoice button img:hover{
    width: 23vw;
}

.userActions button{
    background-color: rgb(123, 0, 255);
    color: white;
    padding: 2rem;
    margin: 1rem;
}

.userActions button:hover{
    background-color: rgb(113, 0, 139);
}

.resetSection button{
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 2rem;
    margin: 1rem;
}

.resetSection button:hover{
    background-color: rgb(139, 0, 0);
}

.whatHappened{
    color: #f2f2f2;
    background-color: #444;
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;
}